.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0a4226;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    z-index: 5;

    &.active{
        background-color: white;
        color: black;
    }


    .container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        
        
        .logo {
            font-size: 34px;
            font-weight: bold;
        

            .dot {
                color: #3CBF45;
            }
        }

        .links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            cursor: pointer;
            
            span {
                font-weight: 500;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

            
                    img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;

                    }

                    .options {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid lightgrey;
                    display: flex;
                    flex-direction: column;
                    color: gray;
                    gap: 10px;
                    width: 200px;
                    font-weight: 400;
                }
            
            }
            
            button {
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                background-color: transparent;
                border: 1px solid white;
                cursor: pointer;
                

                &:hover {
                    background-color: #1dbf73;
                    border: 1px solid #1dbf73;
                    
                }
            }
        }
    }

    hr {
        width: 100%;
        height: 0;
        border: 1px solid lightgray;
    }


    .menu {
        width: 1000px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        color: rgb(167, 165, 165);
        font-size: 12px;

        
    }
}